<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/design/content/styles/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/responsive-nav.css" />
	<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
	<script src="/js/responsive-nav.min.js"></script>
	<script src="/js/ejs.js" type="text/javascript"></script>
	<script src="/js/home.js"></script>
	
</head>

<body>

	<header>
		<h1>mobile<span>apps</span></h1>
	</header>

	<nav id="nav">		
		<ul>
		    <li class="platform"><a href="#">iPhone</a></li>
		    <li class="platform"><a href="#">Android</a></li>
		    <li class="platform"><a href="#">iPad</a></li>
		    <li class="platform"><a href="#">Android Tablet</a></li>
		    <li class="admin"><a href="#">Create New App</a></li>
		</ul>
	</nav>

	<div class="wrapper">

		<div class="list">
			<% for( var i = 0; i < apps.length; i++ ) { %>
			<div class="app" data-platform="<%= apps[i].platform %>" data-workinggroup="<%= apps[i].clientWorkingGroup%>" style="<%= apps[i].icon %>">
				<h3><%= apps[i].name %></h3>
				<div class="version"><%= apps[i].current != null ? apps[i].current.version : 'No releases' %></div>
				<button class="admin">Edit</button>
				<button class="admin">New Version</button>
				<button class="install">Install</button>
			</div>
			<% } %>
		</div>

		<div id="releases" class="app">
			
		</div>

	</div>

</body>

</html>
