
<div class="app">
	<h2 class="image" style="<%= app.icon%>"><%= app.name%></h2>
	
	<nav class="admin">
		<button>Edit</button>
		<button>New Version</button>
		<button>Delete</button>
	</nav>

	<p class="description">
		<%= app.description %>
	</p>
	<% if(!app.current) { %>
		<p>Check back soon for an install.</p> 
	<% } else { %>
		<div class="release">
			<div class="version"><%= app.current.version %></div>
			<div class="notes">
				<%= app.current.notes %>
			</div>
			<button class="install">Install</button>
		</div>
		<h3>Past releases</h3>
		<div class="releases">
			<% for( var i=0; i < app.releases.length; i++ ) { %>
				<% var release = app.releases[i]; %>
				<div class="release">
					<div class="version"><%= release.version %></div>
					<div class="notes">
						<%= release.notes %>
					</div>
					<button class="install">Install</button>
				</div>
			<% } %>
		</div>
	<% } %>
</div>