<div class="edit">
		
	<h2><%= app.name != '' ? app.name : 'Create a new app' %></h2>

	<form method='post' action = '/setup' enctype='multipart/form-data'>

		<div class="info">

			<h3>Info</h3>			
		
			<div class="icon" data-property="App Icon">
				<input type='file' name='app[icon]'/>	
			</div>
			
			<div data-property="App Name">
				<input type="text" name='app[name]' value='<%= app.name %>'>
			</div>
			
			<div data-property="App Description">
				<textarea type="text" name = 'app[desc]'><%= app.description %></textarea>
			</div>
			
			<div data-property="Platform">
				<input type="text" name = 'app[platform]' value='<%= app.platform %>'/>
			</div>
			
			<div data-property="Working Group">
				<input type="text" name = 'app[group]' value='<%= app.clientWorkingGroup %>' />
			</div>

			<div>
				<textarea type='text' hidden name='app[id]'><%=app._id%></textarea>
			</div>

		</div>

		<div class="security">
		
			<h3>Security</h3>
			
			<input type="checkbox" data-property="Development App" name ='app[isDev]' <%= app.security.development ? 'checked' : '' %> />		
			
			<input type="checkbox" data-property="Secured" name='app[isSecure]' <%= app.security.secured ? 'checked' : '' %> />
			
			<div  data-property="Passcode">
				<input type="text" name='app[passcode]' value='<%= app.security.passcode %>' />
			</div>
			
			<input type="checkbox" data-property="Hidden" name='app[isHidden]' <%= app.security.hidden ? 'checked' : '' %> />

			<input type="Submit" value="Submit Release">

		</div>
	</form>
			
</div>